{% load static %}

<header>
    <div class="container header-container">
        <div class="logo-header">
            <a href="{% url 'main:index' %}">
                <img src="{% static 'assets/image/logo/logo.svg' %}" alt="logo">
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'main:about' %}">О платформе</a></li>
            <li><a href="{% url 'main:index' %}">Курсы</a></li>
            <li><a href="{% url 'main:teachers' %}">Преподаватели</a></li>
            <li><a href="{% url 'main:contact' %}">Контакты</a></li>
        </ul>
        <div class="header-actions">
            <a href="{% url 'main:index' %}" class="btn btn-primary">Регистрация</a>
        </div>
    </div>
</header>