@import url('variable.css');
@import url('reset.css');
@import url('typography.css');
@import url('animation.css');
@import url('responce.css');

@import url('components/admin-panel.css');
@import url('components/analytics-cards.css');
@import url('components/buttons.css');
@import url('components/calendar.css');
@import url('components/cards.css');
@import url('components/charts.css');
@import url('components/daschboard.css');
@import url('components/footer.css');
@import url('components/forms.css');
@import url('components/header.css');
@import url('components/icons.css');
@import url('components/progress-bars.css');
@import url('components/rich-text-editor.css');
@import url('components/sidebar.css');
@import url('components/search-filters.css');
@import url('components/sections.css');
@import url('components/table.css');
@import url('components/widgets.css');
@import url('components/list.css');

@import url('layout/admin-layout.css');
@import url('layout/base-back.css');
@import url('layout/dashboard-grid.css');
@import url('layout/error.css');
@import url('layout/parent-portal.css');
@import url('layout/print.css');

@import url('pages/admin-pages.css');
@import url('pages/analytics.css');
@import url('pages/communication.css');
@import url('pages/editor-pages.css');
@import url('pages/parent-pages.css');

@import url('themes/blue.css');
@import url('themes/dark.css');
@import url('themes/green.css');
@import url('themes/red.css');
@import url('themes/violett.css');