@import 'variable.css';
@import 'reset.css';
@import 'typography.css';
@import 'animation.css';
@import 'responce.css';

@import 'components/admin-panel.css';
@import 'components/animations.css';
@import 'components/avatars.css';
@import 'components/analytics-cards.css';
@import 'components/attendance-controls.css';
@import 'components/buttons.css';
@import 'components/calendar.css';
@import 'components/cards.css';
@import 'components/charts.css';
@import 'components/chat.css';
@import 'components/daschboard.css';
@import 'components/footer.css';
@import 'components/forms.css';
@import 'components/header.css';
@import 'components/icons.css';
@import 'components/pagination.css';
@import 'components/progress-bars.css';
@import 'components/rich-text-editor.css';
@import 'components/sidebar.css';
@import 'components/search-filters.css';
@import 'components/status-badge.css';
@import 'components/sections.css';
@import 'components/settings-nav.css';
@import 'components/table.css';
@import 'components/widgets.css';
@import 'components/list.css';
@import 'components/loaders.css';
@import 'components/modals.css';
@import 'components/notifications.css';

@import 'layout/admin-layout.css';
@import 'layout/anastasia.css';
@import 'layout/base-back.css';
@import 'layout/dashboard-grid.css';
@import 'layout/error.css';
@import 'layout/parent-portal.css';
@import 'layout/print.css';
@import 'layout/class-layout.css';

@import 'pages/admin-pages.css';
@import 'pages/analytics.css';
@import 'pages/attendance.css';
@import 'pages/communication.css';
@import 'pages/error-page.css';
@import 'pages/parent-pages.css';
@import 'pages/task-page.css';
@import 'pages/child-info.css';
@import 'pages/class-page.css';
@import 'pages/course-management.css';

@import 'pages/400-page.css';
@import 'pages/401-page.css';
@import 'pages/403-page.css';
@import 'pages/404-page.css';
@import 'pages/405-page.css';
@import 'pages/500-page.css';
@import 'pages/502-page.css';
@import 'pages/503-page.css';
@import 'pages/504-page.css';

@import 'themes/light.css';
/* @import 'themes/blue.css'; */
/* @import 'themes/dark.css'; */
/* @import 'themes/green.css'; */
/* @import 'themes/red.css';  */
/* @import 'themes/violett.css'; */
/* 
@import 'themes/contrast.css'; */