.teachers-filters {
    padding: 50px 0;
    background-color: var(--white);
}

.filters-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 30px;
}